<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Frontend{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {% javascripts
            "@FOSJsRoutingBundle/Resources/public/js/router.js"
            "@FontCrawlerCoreBundle/Resources/assets/js/jquery.js"
            "@FontCrawlerCoreBundle/Resources/assets/js/jquery-ui.js"
            "@FontCrawlerCoreBundle/Resources/assets/js/elastic.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script src="{{ path("fos_js_routing_js", { "callback": "fos.Router.setData" }) }}"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
