<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Frontend{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {% stylesheets "@FontCrawlerCoreBundle/Resources/assets/js/ender.js" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </body>
</html>
