{% extends "FontCrawlerCoreBundle::base.html.twig" %}

{% block body %}
    <div class="wrapper">
        <header>
        </header>
        
        <div class="main">
        {% block content %}{% endblock %}
        </div>

        <footer>
        </footer>
    </div>
{% endblock %}
