{#

 This file is part of the fontcrawler package.

 (c) Dennis Dietrich <d.dietrich84@googlemail.com/>

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.

#}

<ul>
    {% for font in fonts %}
    <li>
        {% include "FontCrawlerCrawlerBundle:Font:fontItem.html.twig" with { "font": font } %}
    </li>
    {% else %}
        <li>
            No fonts yet!
        </li>
    {% endfor %}
</ul>
