{% extends "FontCrawlerCoreBundle::layout.html.twig" %}

{% block content %}
<ul>
    {% for font in fonts %}
    <li>
        {% include "FontCrawlerCrawlerBundle:Search:fontItem.html.twig" with { "font": font } %}
    </li>
    {% else %}
        <li>
            No fonts yet!
        </li>
    {% endfor %}
</ul>
{% endblock %}